@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    background-color: lightblue;
    margin: 0 auto;
}
h1, h4{
    text-align: center;
}
.header{
    background-color: #54BBF2;
    padding: 10px 10px;
    overflow: hidden;
    margin: 0 auto;
}
.container{
    margin: 0 auto;
}
.logo{
    float: left;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.navigation{
    float: right;
    color: white;
    margin: 5px;
}
.navigation a.nav_link{
    background-color: dodgerblue;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    float: right;
    margin-left: 5px;
}
.questions_list{
    text-align: justify;
    display: block;
    padding: 30px 10px;
    background-color: white;
    border-radius: 5px;
}
.questions_list_title{
    text-align: justify;
    display: block;
    padding: 15px 10px;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
}
.user_names_for_questions{
    font-style: italic;
    color: darkslateblue;
    text-align: justify;
    display: block;
    padding: 0px 0px 10px 10px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
}
.user_names_for_answers{
    font-style: italic;
    color: white;
    text-align: justify;
    display: inline-block;
    font-size: 12px;
    border-radius: 0px 0px 5px 5px;
}
.user_names_for_comments{
    float: right;
    font-style: italic;
    color: darkslateblue;
    text-align: justify;
    display: inline-block;
    font-size: 10px;
    border-radius: 0px 0px 5px 5px;
}
a.questions_link{
    text-decoration: none;
    font-weight: bold;
}
a.delete_link{
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
}
.question{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: darkslategrey;
}
/* KZoli - Adds color to the links */
a:link {
    color: blue;
}

a:visited{
    color: mediumslateblue;
}
a:hover{
    transition: .8s;
    transition-property: color;
    color: darkblue;
}
.answer_list{
    text-align: justify;
    display: block;
    background-color: #54BBF2;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    padding: 10px 10px;
}
.question_comment{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 10px 10px;
    background-color: white;
    border-radius: 5px;
    color: darkslategrey;
}
.answer_comment{
    font-size: 9px;
    text-align: left;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    background-color: aliceblue;
    border-radius: 5px;
    margin: 3px;
    font-weight: bold;
    color: darkslategrey;
    float: right;
}
th, h4{
    font-size: 12px;
    font-weight: bold;
    color: darkslategrey;
}
table.fixed {
    table-layout:fixed;
}
table.fixed td {
    overflow: hidden;
}
.add_comment_and_edit_answer{
    float: right;
}
.test{
    background-color: #54BBF2;
    border-radius: 10px;
}
.limit{
    color: white;
    margin: 15px;
}
.limit a.limit_link{
    background-color: dodgerblue;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}
.search {
    color: white;
    margin: 15px;
}
.search a.search_link{
    background-color: dodgerblue;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}
input[type=submit]{
    background-color: dodgerblue;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    border-width: 0px;
}
input[type=submit]:hover{
    background-color: steelblue;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    border-width: 0px;
}
input[type=text]{
    border: 2px solid dodgerblue;
    border-radius: 5px;

}
input[type=password]{
    border: 2px solid dodgerblue;
    border-radius: 5px;
}
input[type=email]{
    border: 2px solid dodgerblue;
    border-radius: 5px;
}
textarea{
    border-color: dodgerblue;
    border-width: 2px;
    border-radius: 5px;
}
select{
    font-family: 'Montserrat', sans-serif;
    border-color: dodgerblue;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
}
ul{
    list-style-type: none;
}
.tags{
    font-size: 15px;
    color: white;
    font-style: italic;
}

.card{
    justify-content: center;
    background-color: white;
    padding: 25px;
    border-radius: 6px;
    display: inline-block;
    box-shadow: 0 1px 20px rgba(0, 0, 0, .9);
    align-items: center;
    width: 180px;
    margin-top: 5%;
    margin-left: 41%;
}
#register_button{
    background-color: dodgerblue;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: bold;
    float: right;
    text-decoration: none;
    font-size: 13px;
}
#register_button:hover{
    background-color: steelblue;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: bold;
    float: right;
    text-decoration: none;
    font-size: 13px;
}

body.login_register{
    background-color: dodgerblue;
}
body.profile_users{
    background-color: lightblue;
}

.login_register_name{
    margin-top: 5%;
    color: white;
    font-size: 30px;
    text-align: center;
}
#username{
    font-weight: bold;
    color: white;
    margin: 8px 8px 20px 32px;
}
#user_pic{
    margin: 8px 8px 8px 32px;
}

.container_for_profile{
    background-color: white;
    padding: 20px 20px 0px 20px;
    text-align: center;
}
.container_for_profile ul{
    padding: 10px;
}
#profile_description{
    display: inline-block;
    text-align: left;
    font-weight: bold;
}
#profile_description_text{
    color: darkslateblue;
    font-style: italic;
    display: inline-block;
    text-align: left;
}
#profile_picture{
    display: inline-block;
}
.container_for_user_contributions table{
    margin: auto;
}
.container_for_user_contributions td{
    background-color: white;
    padding: 20px;
    text-align: center;
}
.title_for_user_contributions{
    font-weight: bold;
    font-size: 23px;
    text-align: left;
    padding-left: 100px;
    color: white;
    background-color: #54BBF2;
}
.not_posted_yet{
    background-color: white;
    padding: 20px;
    text-align: center;
}

.container_for_user_tags td{
    background-color: white;
    padding: 10px 10px;
    text-align: center;
}

.error_message{
    font-weight: bold;
    color: darkred;
    text-align: center;
    font-size: 11px;
}




.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: dodgerblue;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: .5s;
}

.sidenav a:hover {
    color: darkslateblue;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}