@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    background-color: lightblue;
    margin: 0 auto;
}
h1, h4{
    text-align: center;
}
.header{
    background-color: #54BBF2;
    padding: 10px 10px;
    overflow: hidden;
    margin: 0 auto;
}
.container{
    margin: 0 auto;
}
.logo{
    float: left;
    padding-left: 100px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.navigation{
    float: right;
    color: white;
}
.navigation a.nav_link{
    background-color: dodgerblue;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    float: right;
}
.questions_list{
    text-align: justify;
    display: block;
    padding: 30px 10px;
    background-color: white;
    border-radius: 10px;
}
a.questions_link{
    text-decoration: none;
    font-weight: bold;
}

.question{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: darkslategrey;
}
/* KZoli - Adds color to the links */
a:link {
    color: blue;
}

a:visited{
    color: mediumslateblue;
}
a:hover{
    transition: .8s;
    transition-property: color;
    color: darkblue;
}
.answer_list{
    text-align: justify;
    display: inline-block;
    padding: 20px 10px;
    background-color: #54BBF2;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}
.question_comment{
    font-size: 15px;
    text-align: justify;
    display: inline-block;
    padding: 10px 10px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 3px;
}
