@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    background-color: lightblue;
    margin: 0 auto;
}
h1, h4{
    text-align: center;
}
.header{
    background-color: #54BBF2;
    padding: 10px 10px;
    overflow: hidden;
    margin: 0 auto;
}
.container{
    margin: 0 auto;
}
.logo{
    float: left;
    padding-left: 100px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.navigation{
    float: right;
    color: white;
    margin: 5px;
}
.navigation a.nav_link{
    background-color: dodgerblue;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    float: right;
    margin-left: 5px;
}
.questions_list{
    text-align: justify;
    display: block;
    padding: 30px 10px;
    background-color: white;
    border-radius: 10px;
}
a.questions_link{
    text-decoration: none;
    font-weight: bold;
}

.question{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: darkslategrey;
}
/* KZoli - Adds color to the links */
a:link {
    color: blue;
}

a:visited{
    color: mediumslateblue;
}
a:hover{
    transition: .8s;
    transition-property: color;
    color: darkblue;
}
.answer_list{
    text-align: justify;
    display: block;
    background-color: #54BBF2;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    padding: 10px 10px;
}
.question_comment{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 10px 10px;
    background-color: white;
    border-radius: 10px;
    color: darkslategrey;
}
.answer_comment{
    font-size: 9px;
    text-align: left;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    background-color: aliceblue;
    border-radius: 7px;
    margin: 3px;
    font-weight: bold;
    color: darkslategrey;
    float: right;
}
th{
    font-size: 12px;
    font-weight: bold;
    color: darkslategrey;
}
table.fixed {
    table-layout:fixed;
}
table.fixed td {
    overflow: hidden;
}
.add_comment_and_edit_answer{
    float: right;
}
.test{
    background-color: #54BBF2;
    border-radius: 10px;
}
.limit{
    color: white;
    margin: 15px;
}
.limit a.limit_link{
    background-color: dodgerblue;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}
.search {
    color: white;
    margin: 15px;
}
.search a.search_link{
    background-color: dodgerblue;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}
input[type=submit]{
    background-color: dodgerblue;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    border-color: dodgerblue;
}
input[type=text]{
    border-color: dodgerblue;
    border-radius: 5px;

}
textarea{
    border-color: dodgerblue;
    border-width: 2px;
    border-radius: 5px;
}
select{
    font-family: 'Montserrat', sans-serif;
    border-color: dodgerblue;
    border-width: 1px;
    border-radius: 5px;
}
ul{
    list-style-type: none;
}
.tags{
    font-size: 15px;
    color: white;
    font-style: italic;
}