{% extends "layout.html" %}
{% block title_content %}
<title>Ask Mate|Ask a question</title>
{% endblock title_content %}
{% block h1_content %}
<div class="header">
    <div class="container">
        <div class="logo">
            Ask a question
        </div>
    </div>
</div>
{% endblock h1_content %}
{% block body_content %}
{% if  action == "update" %}
<form method="post" action="/question/{{ question_id }}/edit">
    <div align="center">
        <p>
            Subject:
        <br>
            <input name="title" value="{% for data in question %}{{  data.title  }}{% endfor %}">
        </p>
        <p>
            Your question:
        <br>
            <textarea name="text" rows="5" cols="40">{% for data in question %}{{  data.message  }}{% endfor %}</textarea>
        </p>
        <p>
            <input type="submit" value="Update question">
        </p>
    </div>
</form>
{% else %}
<form method="post" action="/ask-question">
    <div align="center">
        <p>
            Subject:
        <br>
            <input name="title" value="">
        </p>
        <p>
            Your question:
        <br>
            <textarea name="text" rows="5" cols="40"></textarea>
        </p>
        <p>
            URL of your image:
        </p>
        <p>
            <input type="text" name="url">
        </p>
        <p>
            <input type="submit" value="Post question">
        </p>
    </div>
</form>
{% endif %}
{% endblock body_content %}
