{% extends "layout.html" %}
{% block title_content %}
<title>Ask Mate|List</title>
{% endblock title_content %}
{% block h1_content %}
    <h1>Ask Mate</h1>
{% endblock h1_content %}
{% block body_content %}
<a href="/ask-question">Ask a question</a>
<h4>
	List of user questions:
	<form action="/" method="GET">
		<select name="select_order">
			<option value="" disabled selected hidden>
				Select order by time
			</option>
			<option value="desc">Descending</option>
			<option value="asc">Ascending</option>
		</select>
		<input type="submit" value="Submit">
	</form>
</h4>
<table align="center">
    <tr>
        <th>ID</th>
        <th>Votes</th>
        <th>Title</th>
        <th>Submission Time</th>
    </tr>
	{% for id, question, submission_time, vote_number in questions %}
        <tr>
            <td>
                <div class="questions_list">{{ id }}</div>
            </td>
            <td>
                <div class="questions_list">{{ vote_number }}</div>
            </td>
            <td>
                <a href="/question/{{ id }}">
                    <div class="questions_list">{{ question }}</div>
                </a>
            </td>
            <td>
                <div class="questions_list">{{ submission_time }}</div>
            </td>
        </tr>
	{% endfor %}
</table>
{% endblock body_content %}