{% extends "layout.html" %}
{% block title_content %}
<title>Ask Mate|Question</title>
{% endblock title_content %}
{% block h1_content %}
<h1>{{ title }}</h1>
{% endblock h1_content %}
{% block body_content %}
<div class="question">{{ message }}</div>
<br>
<p>
	<div class="questions_list">
		{% for answer in answers_list %}
			<div class="item">{{ answer }}</div>
		{% endfor %}
	</div>
</p>
<p>
	<div align="center">
    	<textarea name="text" rows="5" cols="40">{{ add_answer }}</textarea>
    </div>
</p>
<div align="center">
	<input type="submit" value="Post answer">
</div>
{% endblock %}